* {
    margin: 0;
}
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;  
}

header {
    width: 100%;
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 1;
    display: block;
    opacity: 0.9;
}

header img {
    display: inline-block;
    float: left;
    height: 50px;
    margin: 10px;
}


ul {
    list-style: none;
    float: right;
    height: 50px;
    vertical-align: middle;
}

li {
    display: inline-block;
    text-decoration: underline;
    margin: 20px 15px;
    
}

.title {
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: 0px auto;
    background-color: black;
    width: 1200px;
    height: 100px;
    
}

.title h2 {
    margin: 10px;
}

#mission {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    margin: 0px 30px;
    position: relative;
}

#tea {
    width: 1000px;
    margin: 80px auto;

}

.tea h4 {
    margin: 30px;
}

.types img {
    height: 200px;
    width: 300px;
}

.types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.items1 h4 {
    margin-top: 10px;
}

.items1 {
    margin: 20px;
}

#locations {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    margin: 0px 30px;
    position: relative;
}

.places {
    position: absolute;
    
}

.places h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.items2 {
    background-color: black;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 0px 40px;
    padding-top: 15px;
    opacity: 1;
}

.items2 h4 {
    line-height: 4;
}

.contact {
    height: 200px;
    padding-top: 15px;
}

footer {
    padding-left: 20px;
    margin-bottom: 30px;
}

footer h5 {
    text-align: left;
}