<%- include('partials/header.ejs') %>
<h1>Create New Blog</h1>

<div class="container">
    <form action="/submit" method="post">
        <label for="title" class="form-label">Title: </label>
        <input type="text" name="title" id="title" class="form-control"><br>
        <label for="author" class="form-label">Author:</label>
        <input type="text" name="author" id="author" class="form-control"><br>
        <label for="content" class="form-label">Content:</label>
        <textarea name="content" id="content" class="form-control" rows="10"></textarea><br>
        <input type="submit" value="Post" class="btn btn-primary btn-lg">
    </form>
</div>

<%- include('partials/footer.ejs') %>